[submodule "micropython"]
	path = micropython
	url = https://github.com/micropython/micropython.git
[submodule "drivers/sasppu"]
	path = drivers/sasppu
	url = https://github.com/ntflix/sasppu-mpy
[submodule "components/sasppu"]
	path = components/sasppu
	url = https://github.com/ntflix/sasppu
